node_modules
**/node_modules
coverage
frontend/dist
backend/dist
backend/**
mr-dj-eds-components/node_modules
mr-dj-eds-components/**
packages/__pycache__
.venv
package-lock.json
frontend/package-lock.json
backend/package-lock.json
mr-dj-eds-components/package-lock.json
mr-dj-eds-components/pnpm-lock.yaml
pnpm-lock.yaml
yarn.lock
docs/**
frontend/public/**
frontend/scripts/**
frontend/src/components/Generated/**
